@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=MedievalSharp&family=Reddit+Mono:wght@200..900&display=swap');
:root {

  /* VARIABLES COLORES */
  --background: #fef8f0;
  --background-cards: #f5f1eb;
  --body-text: rgba(26, 22, 20, 0.2);
  --second-text: #5A504A;
  --accent-pokedex: #CC0000;
  --accent-emerald: #2D8659;
  --accent-aura: #4A6FA5;
  --accent-golden-decor: #D4AF37;
  --accent-golden-pale: #E8D5A8;
  --accent-alt: #3B4CCA;
  --accent-yellow: #FFDE00;
  --status-success: #3EA876;
  --status-fail-warning: #C85A54;
  --status-info: #4A6FA5;
  --status-soft-warning: #D9A854;


  /* VARIABLES FUENTES */
  --medieval-title-h1: 'Medieval Sharp', Georgia, serif;
  --subsection-h2: 'Literata', Georgia, serif;
  --third-section-h3: 'Literata', Georgia, serif;
  --body-text-p: 'Literata', Georgia, serif;
  --secondary-text-tag: 'Inter', Arial, sans-serif;
  --button-text: 'Inter', Arial, sans-serif;
  --ui-elements-text: 'Inter', Arial, sans-serif;
  --enphasis-strong: 'Literata', Georgia, serif;
  --emphasis-italic: 'Literata', Georgia, serif;
  --data-monospace: 'Reddit Mono', /*Consola fuente*/, serif;

}

h1{
  font-family: var(--medieval-title-h1);
  font-size: 48px;
  color: var(--body-text);
}

h2{
  font-family: var(--subsection-h2);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
}

h3{
  font-family:var(--third-section-h3);
  font-size: 18px;
  line-height: 1.4;
}

p{
  font-family: var(--body-text-p);
  font-size: 15px;
  line-height: 1.7;
}



